# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
minimal_mistakes_skin: "dark"
locale: "en-US"
title: That's a Bug
title_separator: "|"

name: "João Farias"
#avatar: TODO
#bio: TODO
email: joao@thatsabug.com
description: >- # this means to ignore newlines until "baseurl:"
  That's A Bug
url: "http://thatsabug.com/"
breadcrumbs: true
twitter_username: JFThatsABug
github_username: JoaoGFarias
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes@4.16.4
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: "Europe/Warsaw"
github: [metadata]
include:
  - _pages

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "João Farias"
  avatar : "/assets/bio-photo.jpg"
  bio    : "Making educated guesses based on unreliable data provided by people who don't know what they want."
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/JFThatsABug"
    - label: "GitHub"
      icon: "fab fa-github"
      url: "https://github.com/JoaoGFarias"
    - label: "LinkedIn"
      icon: "fab fa-linkedin"
      url: "https://www.linkedin.com/in/joaogfarias/"

footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/JFThatsABug"
    - label: "GitHub"
      icon: "fab fa-github"
      url: "https://github.com/JoaoGFarias"
    - label: "LinkedIn"
      icon: "fab fa-linkedin"
      url: "https://www.linkedin.com/in/joaogfarias/"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      words_per_minute: 180
      comments: true
      share: true
      related: true
      header:
        overlay_color: "#252a34"
      toc_sticky: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

social:
  type:  Person
  name:  João Farias
  links:
    - "https://github.com/JoaoGFarias"
    - "https://twitter.com/JFThatsABug"
    - "https://www.linkedin.com/in/joaogfarias/"

#deploy:
 # host: github_pages
 # branch: master

compress_html:
  clippings: all
  ignore:
    envs: development